@{
  Layout = "_Layout";
}

<h3>Add Order for @Model.Name</h3>
<div class="row">
  <div class="col-md-12">
    <form action='/vendors/@Model.Id/orders' method="post">
      <label for="title">Order Title</label>
      <input id="title" name="title" type="text" class="form-control">
      <label for="description">Description</label>
      <input id="description" name="description" type="text" class="form-control">
      <label for="price">Price</label>
      <input id="price" name="price" type="text" class="form-control">
      <label for="date">Date</label>
      <input id="date" name="date" type="text" class="form-control">
      <button type="submit" class="btn btn-primary">Add Order</button>
    </form>
    <a href='/vendors/@Model.Id/orders'>
      <button class="btn btn-primary">Back to @Model.Name</button>
    </a>
  </div>
</div>