@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md-12" id="splash">
    <h2>Welcome back Pierre,<h2>
    <h4>What would you like to do?</h4>
    <a href="/vendors">
      <button type="submit" class="btn btn-primary">View Vendors</button>
    </a>
  </div>
</div>